[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "ktnyt_benchmark"]
	path = external/benchmark
	url = https://github.com/ktnyt/benchmark.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/interprocess"]
	path = external/interprocess
	url = https://github.com/boostorg/interprocess.git
