[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "ktnyt_benchmark"]
	path = external/benchmark
	url = https://github.com/ktnyt/benchmark.git
